<ul>
<% posts.each( function (post) { %>
	<li>
	  <a href="#posts/<%= post.escape("id")%>"><%= post.escape("title")%></a> 
	  <br>
	  <form action="#posts/<%= post.escape("id")%>/edit">
	    <input type="submit" value="Edit">
    </form>
	  <button class="delete" data-id="<%= post.escape("id")%>">Delete</button>
	</li>
<% }) %>
</ul>
<a href="#/posts/new">Create New Post</a>